{% extends "base.html" %}
{% block title %} Effacer un fournisseur {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer un fournisseur
			</p>
			{% if data_film_del %}
			<table class="table table-responsive-sm">
				<thead>
					<tr>
						<th class="">ID_fournisseur</th>
						<th class="">Adresse</th>
						<th class="">Numéro de téléphone</th>
					</tr>
				</thead>
				<tbody>
					{% for row in data_film_del %}
					<tr>
						<td class="align-middle">{{ row.ID_fournisseur }}</td>
						<td class="align-middle">{{ row.adresse_fournisseur }}</td>
						<td class="align-middle">{{ row.numero_telephone_fournisseur }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
			<form action="{{ url_for('film_delete_wtf') }}" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_delete_film.hidden_tag() }}
				{{ form_delete_film.submit_btn_conf_del_film(class="btn btn-info") }}
				{% if btn_submit_del %}
					{{ form_delete_film.submit_btn_del_film(class="btn btn-danger") }}
				{% endif %}
				{{ form_delete_film.submit_btn_annuler(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}
