{% extends "base.html" %}
{% block title %} Afficher Fournisseurs {% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12">
        <table class="table table-responsive-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th>Id Fournisseur</th>
                        <th>Nom Fournisseur</th>
                        <th>Adresse Fournisseur</th>
                        <th>Numéro Téléphone Fournisseur</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            <td>{{ row.ID_fournisseur }}</td>
                            <td>{{ row.nom_fournisseur }}</td>
                            <td>{{ row.adresse_fournisseur }}</td>
                            <td>{{ row.numero_telephone_fournisseur }}</td>
                        </tr>

                    {% endfor %}
                </tbody>
            {% else %}
                <tr><td colspan="7">Aucun fournisseur et produit.</td></tr>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}
